/*

See also https: //github.com/yzane/vscode-markdown-pdf/blob/master/styles/markdown.css

https: //github.com/yzane/vscode-markdown-pdf/tree/master

*/

:root {
	font: 200% verdana, arial, sans-serif;
}

body {
	max-width: 30rem;
}

a {
	color: crimson;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

em {
	font-style: italic;
}

h1 {
	color: yellow;
	border-width: 0;
	font-size: 150%;
	margin: 0 0 0rem 0;
	padding: 0;
}

h2 {
	font-size: 120%;
}

h3 {
	font-size: 100%;
}

h2,
h3 {
	color: #880000;
	margin: 0;
	padding: 0;
}

img {
	max-width: 200px;
	width: 100%;
}

p {
	color: #000;
  font-size: 200%;
	line-height: 150%;
	margin: 0 0 1.2rem 0;
}

li {
	margin: 0;
	padding-top: 0;
}

mark {
	background-color: #ff0;
}

ul {
	margin: 0 0 1.2rem 0;
	padding-top: -1rem;
}

.a-dingbat {
	font-size: 200%;
	text-decoration: none;
}

@media print {
	body {
		background: #fff !important;
	}

	h1 {
    color: yellow;
		font-size: 150%;
		margin: 0 0 0.5rem 0;
	}

	h2 {
		font-size: 120%;
		margin: 0 0 0 0;
	}

	h3 {
		font-size: 100%;
		margin: 0 0 0 0;
	}
	h1,
	h2,
	h3 {
		page-break-after: avoid;
    text-decoration: none;
	}

	img {
		max-width: 200px;
		width: 100%;
	}

	nav,
	.sidebar,
	.footer,
	.no-print {
		display: none !important;
	}

	p,
	li {
		/* font-size: 150%; */
	}

}
